<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>価格.comサーチ検証用</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" , href="main.css">
    </head>
    <body>
                   
                  
        <div class="" id="app">
            <div class="container">
            <h1><img src="http://d-sp-dc001.coreprice.com:8000/static/logo.gif"> 商品名寄せ</h1>
                <div class="form-row" id="search_area">
                    <div class="col-4">
                        <input type="text" class="form-control" v-model="base_query" placeholder="検索クエリを入力">
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" v-model="rows">
                    </div>
                    <div class="col-3">
                            <button class="btn btn-primary mb-2" v-on:click="getSearchResult">検索</button>
                    </div>
                </div>
                <p v-if="query_expanded">
                    <span>展開後クエリ：</span><input type="text" v-bind:value="expand_query">
                    <span>Solrリクエスト：</span><input type="text" v-bind:value="solr_request">
                </p>
                <p v-if="solr_responsed">
                    ヒット数：{{numFound}}
                </p>                   
            </div>
            
                <div class="container" v-if="solr_responsed">
                    <div class="row itemlist" v-for="(data,key) in itemlist">
                        <div class="col-2">
                            <p><img class="itemImage" v-bind:src="data.imageurl"/></p>
                            <p v-if="data.hasMember"><button class="btn-primary btn memberOpenBtn" v-on:click="showMember(key)">{{data.memberCount}}</button></p>
                        </div>
                        <div class="col-10">
                           <p><a v-bind:href="data.producturl">{{data.productname}}</a></p> 
                           <p>group_id:{{data.group_id}} ,型番:{{data.kataban}} jan：{{data.jan}}　価格：{{data.price}}円</p>
                           <p>{{data.prdcomment2}}</p>
                           <p>名寄せ方法：{{data.group_enum}}　ショップ名：{{data.shopname}}</p>
                        </div>

                        <div class="row" v-if="data.memberOpen">
                                <div class="col-1 member_itemlist_left"></div>
                                <div class="col-10">
                                        <div class="row member_itemlist" v-for="member in data.member">
                                                <div class="col-2">
                                                    <p><img class="itemImage" v-bind:src="member.imageurl"/></p>
                                                </div>
                                                <div class="col-10">
                                                <p><a v-bind:href="member.producturl">{{member.productname}}</a></p> 
                                                <p>group_id:{{member.group_id}} ,型番:{{member.kataban}} jan：{{member.jan}}　価格：{{member.price}}円</p>
                                                <p>{{member.prdcomment2}}</p>
                                                <p>名寄せ方法：{{member.group_enum}}　ショップ名：{{member.shopname}}</p>
                                                </div>
                                        </div>
                                </div>
                        </div>

                    </div>
                    
                </div>
                <div class="container" v-else>
                    <br>
                    {{message}}
                </div>

            

            <!--<pre>{{$data.itemlist}}</pre>-->

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
        <script src="main.js"></script>
    </body>
</html>