
h1{
    font-size: 20pt;
}

.itemImage{
    width:100px;
}
.memberOpenBtn{
    margin-top:2px;
}
p{
    margin:0;
    padding:0;
}
div.itemlist{
    padding:2px;
    margin-bottom:20px;
    background-color:#ffffff;
    border:solid 2px #cccccc;
}
div.member_itemlist{
    padding:2px;
    margin-bottom:5px;
    background-color:#ffffff;
    border-top:solid 1px #cccccc;
}